@charset "UTF-8";


/*********** 서브페이지  ************/


.sub_header {
  z-index:100;
  position:fixed;
  width:100%;
  color:black;
  background:white;
  .sub_header_in {
  max-width:1240px;
  margin:auto;
  height:120px;
  display:flex;
  justify-content:space-between;
  align-items:center;
section {
  display:flex; 
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
span {font-size:2em; font-weight: bold;}
}}


  
  // .right {width:50%; height:400px; float:right;
  //     h2 {display:flex; justify-content:center; font-weight:bold;
  //     margin-top:350px; }
  //     p {display:flex; justify-content:center; margin-top:50px;
  //     font-size:clamp(15px,3vw,20px);
  //     text-align: center;}
  //     span {display:flex; justify-content:center;
  //     margin-top:10%; text-decoration:underline; font-size:17px;
  // color:gray;}
  // }  
  // .left {width:100%; height:700px;  
  //    .main_img {object-fit:cover;} 
   

.header_in_navbar > li {}

  .sub_header_in_bar_suv { 
    display:none;
    position:absolute; top:80px;
    z-index:200;
  }
  .sub_header_in_bar_suv a { 
    display:block;
    line-height:40px;
    text-align:left;
    padding:8px 0 0 30px;
    color:$main-color2;
    font-size:16px;
    font-weight:lighter;
    position:relative; top:30px;
  }
  .sub_header_in_bar_suv a:hover { color:#c8bbf0; }
  
  .sub_header_in_bar_suv_shadow { 
    display:none;
    position:fixed; top:100px; left:0;
    width: 100%; height:220px;
    background: rgba(0,0,0,0.5);
    z-index:99;
  }
.swiper {
  width:100%;
  height:100%;
  }


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit:fill;
  
}

.swiper_text {position:absolute; bottom:90px; left:20px; color:#fff;
  h4 {font-size:30px; font-weight:bold; text-shadow:0 0 10px rgba(0,0,0,50%);}
}
.swiper-button-prev, .swiper-button-next {
  color:white;
  background:rgba(255,255,255,.4);
  width:36px;
  height:36px;
  border-radius:50%;
  margin-top:50px;
}
  .swiper-button-prev:after , .swiper-button-next:after {
      font-size:20px;
  }    
  .swiper-pagination-fraction {
      color:white;
      width:auto;
      left:90%;
      bottom:20px;
      top:auto;
      padding:0 5px;
      border-radius:9999px;
      font-size:11px;
      line-height: 1.65;
      background:rgba(0,0,0,0.5);
  }
  .swiper_text {
    z-index:200;
    width:100%;
    max-width:1200px;
      .st_1 {
        font-size:58px;
        font-weight:700;
        text-align: center;
        margin-right:330px;
        padding-bottom:10px;
      }
      .st_2 {
        font-size:25px;
        text-align:center;
        margin-right:200px;
      }
  }

  .location {
      width: 100%;
      max-width:1200px;
      margin:20px auto 0 auto;
      padding: 20px 0 20px 20px;
      font-size:20px;
      position: relative;
      right:10px
    }  
  
  
    .location i { width:21px; height:21px;}

    
    .sub_nav {
      padding-top:40px;
      width:100%;
      max-width:1200px;
      margin:10px auto 0;
      position:relative;
      text-align:left;

      a {
        display:inline-block;
        font-size:16px;
        color:#767676;
        font-weight:400;
        margin:0;
        padding:5px 10px;
        margin-right:10px;
      }
      .place_first {color:#473970; border-bottom:2px solid #473970;}
      .sub_nav ul:after { display:block; content:""; clear:both; }
      .sub_nav .active a {
        border-bottom:1px solid #473970;
        color:$main-color3; font-weight:500;
        margin-bottom:-4px; }
      .sub_nav .active a:after {
          position:absolute; content:"";
        left:calc(50% - 11px); bottom:-9px;
        width:22px; height:5px;
        background:url('../img/icon_snb_arr.png');
        }
      
    }



/******* 중간 부분 **********/

.place_wrap {
width:100%;
max-width:100%;
margin:0;
padding-bottom: 10px;
}
.place_wrap2 {
  display:flex;
  justify-content: center;
  margin-top:10px;
  column-gap:20px;
  box-sizing:border-box;
  li {
      width:285px; 
      height:325px;
      border-radius:4px;
      overflow: hidden;
      box-shadow: 0 0 6px rgba(0,0,0,0.3);
      margin-bottom:20px;
    }
  .place_img {
    img { width:285px; height:210px;}

    &:hover img {transform:scale(1.05); transition:0.4s}
  }
  .place_name {
    width:100%;
    font-size:17px;
    font-weight:bold;
    padding:15px 10px;
    
  }
  .place_text {
    width:100%;
    font-size:15px;
    color:gray;
    padding:0 10px;
    display:-webkit-box;
    word-wrap:break-word;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .place_review {
    display:block;
    font-size:13px;
    color:gray;
    padding: 15px 10px;
    margin-top:5px;
  }
}

.place_next {
  width:210px;
  height:50px;
  margin: auto;
  padding:30px 0 100px;

  a {
    display:flex;
    float: left;
    justify-content: center;
    align-items: center;
    text-align:center;
    width:40px; height:40px;
    border: 1px solid black;
    border-radius:100%;
    margin-left:10px;
    
  }
  .pn {
    background:black;
    color:#fff;
  }
}

@media (max-width:1169px){
  .sub_header {
  .sub_header_in {
      width:100%; height:80px;
      h1 {
          font-size:1em; margin-left:20px;
          span {font-size:1.6em}
          i {position:relative; bottom:3px;}
      }
  }
}}



@media (max-width:1024px) {
  .place_wrap2 {
    display:inline-block;
    width:100%;
    height:500px;
  
    li {width:100%;
    .place_img img {width:100%; object-fit:fill;}
    .place_name {width:100%;}
    .place_text {width:100%;}
    }


  }
}

@media (max-width:830px) {
    .place_wrap2 {
      display:inline-block;
      width:100%;
      height:500px;
    }
    .swiper-slide {
      height:550px;
    }
}



/*********** 이종민 푸터 ************/
footer { padding:15px 6px; color:#fff; background:black;}
  ul.qiuckmenu { display:table; width:100%; }
  .qiuckmenu li { 
    display:table-cell; width:33.33%;
    background:black;
    border-right:1px solid #222;
    border-left:1px solid #ccc;
  }  
  .qiuckmenu li:first-child { border-left:none; }
  .qiuckmenu li:last-child { border-right:none; }
  .qiuckmenu a { 
    display:block;
    text-align: center;
    line-height:33px;
    font-size:16px;
  }  
  .telSns { margin-top: 30px; }
  .telSns a { font-size:22px; margin-left: 20px;  }
  .telSns img { 
    width:24px; margin-left:5px; vertical-align:bottom; }
  .pc { 
    position:absolute; right:6px; margin-top: -25px;
    text-align:right;
    }
  .pc a { 
    display:inline-block; padding:4px 6px;
    margin-bottom:5px;
    font-size:12px; }
  
  .copy { font-size:10px; margin-top: 15px; margin-left: 20px; }
  .pc img { width: 100px; margin-top: 15px;  }
  /*********** 이종민 푸터 ************/

 

